<div class="logo">
  <img alt="Logo" src="../../../assets/images/logo.png">
</div>
<div class="row">
  <div id="mySidenav" class="sidenav">
    <nav>
      <li><a routerLink="regissubject">ลงทะเบียน</a></li>
      <li><a routerLink="addsubject">เพิ่มวิชาเรียน</a></li>
      <li><a routerLink="delsubject">ถอนวิชาเรียน</a></li>
      <li><a routerLink="changesubject">เปลี่ยนตอนเรียน</a></li>
      <li><a routerLink="record">ผลลงทะเบียน</a></li>
      <li><a routerLink="resultsubject">ผลการเรียน</a></li>
      <li><a routerLink="schedule">ตารางเรียน</a></li>
      <li><a routerLink="schedule">ออกจากระบบ</a></li>
    </nav>
  </div>

  <div id="right" class="right">

    <div class="right" id="head">
      <h2>ระบบลงทะเบียน</h2>
    </div>
    <div class="right" id="text">
      <p>วัน *** | ยินดีต้อนรับ *** | ปีการศึกษา *** | ภาค ***</p>
    </div>

    <div class="right" id="data">

      <router-outlet></router-outlet>
    </div>
  </div>

</div>