<h1>ตารางเรียน ปีการศึกษา *** ภาคเรียนที่ ****</h1>
<table class="table table-bordered">
  <thead>

      <tr>
        <td></td>
        <td>8.00</td>
        <td>9.00</td>
        <td>10.00</td>
        <td>11.00</td>
        <td>12.00</td>
        <td>13.00</td>
        <td>14.00</td>
        <td>15.00</td>
        <td>16.00</td>
          <tr>
            <td>จันทร์</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>อังคาร</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>พุธ</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>พฤ</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>ศุกร์</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

  </thead>
  <!-- <tbody>
      <tr *ngFor="let b of flights">
          <td>{{ b.fullName }}</td>
          <td>{{ b.from }}</td>
          <td>{{ b.to }}</td>
          <td>{{ b.adults }}</td>
          <td>{{ b.children }}</td>
          <td>{{ b.infants }}</td>
      </tr>
  </tbody> -->


</table>
