<h1>เปลี่ยนตอนเรียน</h1>
<form [formGroup]="changeForm" (ngSubmit)="onSubmit(changeForm.value)">
<table class="table table-bordered">
  <thead>
      <tr>

          <th>รหัสวิชา</th>
          <th>ตอนเรียนเดิม</th>
          <th>ตอนเรียนใหม่</th>
      </tr>
  </thead>
  <td class='tdinput'><input formControlName="courseid" type="text"/></td>
  <td class='tdinput'><input formControlName="olds" type="text"/></td>
  <td class='tdinput'><input formControlName="news" type="text"/></td>

  <!-- <tbody>
      <tr *ngFor="let b of flights">
          <td>{{ b.fullName }}</td>
          <td>{{ b.from }}</td>
          <td>{{ b.to }}</td>
          <td>{{ b.adults }}</td>
          <td>{{ b.children }}</td>
          <td>{{ b.infants }}</td>
      </tr>
  </tbody> -->


</table>
<div class="submit">
    <button  type="submit"  class="btn btn-dark">Submit</button>
 </div>
</form>
<!-- <form>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="รหัสวิชา">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="ตอนเรียนเดิม">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="ตอนเรียนใหม่">
      </div>
    </div><br>
    <div class="submit">
       <button type="button" class="btn btn-dark">Submit</button>
    </div>
  </form>
   -->
