<div class="logo">
    <img alt="Logo" src="../../../assets/images/logo.png">
  </div>
  <div class="row">
    <div id="mySidenav" class="sidenav">
      <nav>
        <li><a routerLink="edituser">จัดการบัญชีผู้ใช้</a></li>
        <li><a routerLink="editdata">จัดการข้อมูลผู้ใช้</a></li>
        <li><a routerLink="editsubject">จัดการรายวิชา</a></li>
        <li><a routerLink="schedule">ออกจากระบบ</a></li>
      </nav>
    </div>
  
    <div id="right" class="right">
  
      <div class="right" id="head">
        <h2>ระบบลงทะเบียน</h2>
      </div>
      <div class="right" id="text">
        <p>วัน *** | ยินดีต้อนรับ *** | ปีการศึกษา *** | ภาค ***</p>
      </div>
  
      <div class="right" id="data">
  
        <router-outlet></router-outlet>
      </div>
    </div>
  
  </div>