<h1>ผลการเรียน</h1>

<table class="table table-bordered">
  <thead>
    <tr>ปีการศึกษา *** ภาคเรียนที่ ****</tr>
      <tr>
          <th>ชื่อวิชา</th>
          <th>หน่วยกิต</th>
          <th>ตอนเรียน</th>
          <th>เกรด</th>
      </tr><br><br><br>
      <!-- <tr>

        <th>คะแนนเฉลี่ย</th>
        <th>หน่วยกิตที่ลง</th>
        <th>หน่วยกิตที่ได้</th>
      </tr> -->
      <tr>
        <td></td>
        <td>คะแนนเฉลี่ย</td>
        <td>หน่วยกิตที่ลง</td>
        <td>หน่วยกิตที่ได้</td>
          <tr>
            <td>ประจำภาค</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>สะสม</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>สถานภาพ</td>
            <td></td>
          </tr>
  </thead>
  <!-- <tbody>
      <tr *ngFor="let b of flights">
          <td>{{ b.fullName }}</td>
          <td>{{ b.from }}</td>
          <td>{{ b.to }}</td>
          <td>{{ b.adults }}</td>
          <td>{{ b.children }}</td>
          <td>{{ b.infants }}</td>
      </tr>
  </tbody> -->


</table>
