.submit{
    text-align: center;
 }
 ::placeholder {
     /* color: red; */
     text-align: center;
   }
 form{
       width: 50%;
       padding-left: 50px;     
 }
table{
    text-align: center;

}

