<h1>ถอนวิชาเรียน</h1>
<h4>เลือกวิชาที่ต้องการถอน</h4>
<table class="table table-bordered">
  <thead>
      <tr>
          <th>รหัสวิชา</th>
          <th>ตอนเรียน</th>
          <th>ชื่อวิชา</th>
          <th>หน่วยกิต</th>
          <th></th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let b of deletesubs ;">
      <td>{{ b.courseid }}</td>
      <td>{{ b.sec }}</td>
      <td>{{ b.name }}</td>
      <td>{{ b.cred }}</td>
      <td><button type="button" (click)="onSave(b.courseid)" class="btn btn-warning">ถอน</button></td>
    </tr>
  </tbody>
  <!-- <tbody>
      <tr *ngFor="let b of flights">
          <td>{{ b.fullName }}</td>
          <td>{{ b.from }}</td>
          <td>{{ b.to }}</td>
          <td>{{ b.adults }}</td>
          <td>{{ b.children }}</td>
          <td>{{ b.infants }}</td>
      </tr>
  </tbody> -->
</table>

<!-- <form>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="รหัสวิชา">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="ตอนเรียน">
      </div>
    </div><br>
    <div class="submit">
       <button type="button" class="btn btn-dark">Submit</button>
    </div>
  </form> -->

