<div class="logo">
  <img alt="Logo" src="../../../assets/images/logo.png">
</div>
<div class="row">
  <div id="mySidenav" class="sidenav">
    <nav>
      <li><a routerLink="course">รายวิชาที่สอนและ<b></b>รายชื่อนักศึกษา</a></li>
      <li><a routerLink="course">ออกจากระบบ</a></li>
    <!-- ออก -->
    </nav>
  </div>

  <div id="right" class="right">

    <div class="right" id="head">
      <h2>ระบบลงทะเบียน</h2>
    </div>

    <div class="right" id="text">
      <p>วัน  | ยินดีต้อนรับ  | ปีการศึกษา  | ภาค </p>
    </div>

    <div class="right" id="data">

      <router-outlet></router-outlet>
    </div>
  </div>

</div>
