body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  display:block;
  height: 100%;
  /* width: 250px; */
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #B23926;
  overflow-x: hidden;
  padding-top: 60px;
}

.sidenav a {
  
  text-decoration: none;
  font-size: 25px;
  color: #F2A111; 
  display: grid;
  grid-template-columns: 225px 1fr;
  border: 2px solid #F2A111;
  border-radius: 50px;
  padding: 20px;
  margin: 1px 0 0 0;
}
li a:hover {
  background: #F2A111;
  border-radius: 50px;
  border: 2px solid #F2A111;
  color: white;
}
#head {
  position:fixed;
  width: 85%;
  right: 0;
  padding-top: 10px;
  margin-top: 25px;
  /* display: inline-block; */
  text-align: center;
  
}
#head h2{
  text-align: center;
  float: none;
 
}
#text {
  position: fixed;
  width: 70%;
  right: 100px;
  top: 150px;
  border: #111;
}
#text p {
  text-align: center;

}
#data {
  position: fixed;
  width: 85%;
  right: 0;
  top: 250px;;
}
li {
list-style: none;
color: #B23926;
width:auto;
height:auto;
text-align: left;
float: inline-start;
}
.right p{
  border: 2px solid #4C3F2E;
  padding: 5px;
  border-radius: 20px;
  background-color: #4C3F2E;
  color: antiquewhite;
}

/*
.sidenav a:hover {
  color: #f1f1f1;
} */

/* .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
} */

@media screen and (max-height: 450) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
img{
/* float:left; */
margin-top: 10px;
height: 100px;
width: 100px;
}
.logo{
float:none;
margin-left: auto;
margin-right: auto;
width: 13%;
height: 0;
}
