<table class="table table-bordered">
    <thead>
        <tr>
            <th>รหัสวิชา</th>
            <th>ตอนเรียน</th>
            <th>ชื่อวิชา</th>
            <th>หน่วยกิต</th>
            <th>วัน-เวลาเรียน</th>
            <th>รายชื่อนักศึกษา</th>
  
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>xx</td>
            <td>xx</td>
            <td>xx</td>
            <td>xx</td>
            <td>xx</td>
            <td><button type="button" class="btn btn-warning">รายชื่อนักศึกษา</button></td>
        </tr>
    </tbody>
