/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
*{
    font-family: 'Prompt', sans-serif;
    
   
}
h1{
    padding-left: 20px;
}
