<h1>เแก้ไขข้อมูลผู้ใช้</h1>
<!-- <table class="table table-bordered">
  <thead>
      <tr>
          <th>ที่</th>
          <th>รหัสวิชา</th>
          <th>ตอนเรียน</th>
          <th>ชื่อวิชา</th>
          <th>หน่วยกิต</th>
          <th>วัน-เวลาเรียน</th>

      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let b of flights">
          <td>{{ b.fullName }}</td>
          <td>{{ b.from }}</td>
          <td>{{ b.to }}</td>
          <td>{{ b.adults }}</td>
          <td>{{ b.children }}</td>
          <td>{{ b.infants }}</td>
      </tr>
  </tbody>
</table> -->

<!-- <form>
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" placeholder="รหัสวิชา">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="ตอนเรียน">
    </div>
  </div>
  <div>
    <button class="btn btn-primary col-4 btn-lg "  type="submit">Submit</button>
</div>
</form> -->
<form>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Username">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="ตอนเรียน">
      </div>
    </div><br>
    <div class="submit">
       <button type="button" class="btn btn-dark">Submit</button>
    </div>    
</form>
