<h1>ลงทะเบียนเรียน</h1>
<table class="table table-bordered">
  <thead>
      <tr>
          <th>รหัสวิชา</th>
          <th>ชื่อวิชา</th>
          <th>ตอนเรียน</th>
          <th></th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let b of registersubs">
          <td>{{ b.courseID }}</td>
          <td>{{ b.courseName }}</td>
          <td class='tdinput'><input [(ngModel)]="b.sec" type="text"/></td>
          <td><button type="button" (click)="onSave(b)" class="btn btn-warning">ลงทะเบียน</button></td>

      </tr>
  </tbody>


</table>
