.submit{
    text-align: center;
 }
 ::placeholder {
     /* color: red; */
     text-align: center;
   }
 form{
       width: 50%;
       padding-left: 50px;     
 }
 table{
    text-align: center;
        /* padding:10px 40px;  */
        /* width:500px; */
        resize:both;
        overflow:auto; 
        table-layout: auto;
  width: 100%;     
}
thead{
    background-color: #B23926;
    border: none;
    color: antiquewhite;
}
td.tdinput
{
    /* border:1px solid #000;
    width: auto; */
  border: none;
  box-sizing: border-box;
}
input{
    border: 1px solid #000;
    margin: 2px 0 0 0;
    /* border: 0; */
}
