
<h1>ผลลงทะเบียน</h1>
<select  [(ngModel)]="selected"  (change)="Cal()">
    <option value="1/2562">1/2562</option>
    <option value="2/2562">2/2562</option>
    <option value="1/2563">1/2563</option>
    <option value="2/2563">2/2563</option>
    <option value="1/2564">1/2564</option>
    <option value="2/2564">2/2564</option>
  </select>
<table class="table table-bordered">
  <thead>
      <tr>
          <th>ที่</th>
          <th>รหัสวิชา</th>
          <th>ตอนเรียน</th>
          <th>ชื่อวิชา</th>
          <th>หน่วยกิต</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let b of recordsubs ; let i = index">
          <td>{{ i+1 }}</td>
          <td>{{ b.courseid }}</td>
          <td>{{ b.cred }}</td>
          <td>{{ b.name }}</td>
          <td>{{ b.sec }}</td>
      </tr>
  </tbody>
<br><br>

</table>
<!-- <table class="table table-bordered">
  <thead>
      <tr>
          <th>ค่าบำรุงและค่าธรรมเนียมการศึกษา</th>
          <th>จำนวน</th>
          <th>ต้องชำระ</th>
      </tr>
  </thead>

</table> -->
<!-- <br><br>
<h1>ประวัติการลงทะเบียน</h1>
<table class="table table-bordered">
  <thead>
      <tr>
          <th>ครั้งที่</th>
          <th>วันที่</th>
          <th>ประเภท</th>
          <th>วิชา</th>
          <th>สถานะ</th>
      </tr>
  </thead>
</table> -->
